<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisp.dao.QuestionnaireMapper">

    <resultMap id="BaseResultMap" type="com.sisp.dao.entity.QuestionnaireEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="project_id" jdbcType="VARCHAR" property="projectId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="naire_name" jdbcType="VARCHAR" property="naireName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
        <result column="close_date" jdbcType="TIMESTAMP" property="closeDate" />
    </resultMap>

<!--    添加问卷-->
    <insert id="insertQuestionnaire" parameterType="com.sisp.dao.entity.QuestionnaireEntity">
        insert into questionnaire_info (id, project_id, user_id, `type`, naire_name,
        content, publish_date, close_date)
        values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{naireName,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}, #{closeDate,jdbcType=TIMESTAMP})
    </insert>
<!--    查询所有在一个项目下的问卷-->
    <select id="selectQuestionnaireByProjectId" resultMap="BaseResultMap">
        select *
        from questionnaire_info
        where project_id = #{projectId,jdbcType=VARCHAR}
        order by publish_date
    </select>
</mapper>